<form [formGroup]="inscriptionForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
           placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted" *ngIf="email.hasError('email')"> email not valid</small>
    <small id="emailHelp1" class="form-text text-muted" *ngIf="email.touched && email.hasError('required')"> email required</small>
  </div>
  <div class="form-group">
    <label for="userName">User name</label>
    <input formControlName="userName" type="text" class="form-control" id="userName" placeholder="User name">
    <small id="userName1" class="form-text text-muted" *ngIf="userName.dirty && userName.hasError('minlength')"> min lenght required
      {{userName.errors['minlength']['requiredLength']}} </small>
  </div>
  <div class="form-group">
    <label for="age">User age</label>
    <input formControlName="age" type="text" class="form-control" id="age" placeholder="Password">
    <span *ngIf="age.dirty && age.hasError('ageValidator')">{{age.errors|json}}</span>
  </div>
  <div class="form-group ">
    <label for="password">Password</label>
    <div class="input-group">
      <input formControlName="password" [type]="eyeOff?'password':'text'" class="form-control" id="password"
             placeholder="Password">
      <div class="input-group-append">
        <span class="input-group-text eye-class" id="basic-addon2" (click)="onEyeClick()">
          <i class="fa"
             [ngClass]="!eyeOff?' fa-eye' :'fa-eye-slash'"></i></span>
      </div>
    </div>


  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!inscriptionForm.valid" (click)="onClick()">Submit</button>
</form>


