<!--<div class="container">-->
<!--  <div>-->
<!--    <button class="btn " [class.btn-primary]="nav==='H'" (click)="nav='H'"> Home</button>-->
<!--    <button class="btn" [class.btn-primary]="nav==='L'" (click)="nav='L'"> list</button>-->
<!--    <button class="btn" [class.btn-primary]="nav==='Q'" (click)="nav='Q'"> qte</button>-->
<!--  </div>-->
<!--  <ng-container [ngSwitch]="nav">-->
<!--    <div *ngSwitchCase="'H'"> welcome to home page</div>-->
<!--    <ng-container *ngSwitchCase="'L'">-->
<!--      <div *ngFor="let product of products">{{product.productTitle}} </div>-->
<!--    </ng-container>-->
<!--    <ng-container *ngSwitchCase="'Q'">-->
<!--      <div *ngFor="let product of products">{{product.qte}} </div>-->
<!--    </ng-container>-->
<!--  </ng-container>-->
<!--</div>-->

<!--<app-panel>-->
<!--  <h5 name>wajih elleuch</h5>-->
<!--  <h5 exp>2 years of experience</h5>-->
<!--</app-panel>-->
<!--<app-navbar></app-navbar>-->
<!--<div>-->
<!--  <input type="text" placeholder="serach ..." (input)="onSearch($event)">-->
<!--</div>-->



<!--<span class="position-relative" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">-->
<!--    {{ word|subString:5}}-->
<!--  <span class="position-absolute" *ngIf="mouseEnter">{{word}}</span>-->
<!--  </span>-->


<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="col-4 mt-3" *ngFor="let prouct of products">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class=" w-full border">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="p-4  text-center">&ndash;&gt;-->
<!--&lt;!&ndash;        <h4>{{prouct.productTitle}}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <span> {{prouct.productSubtitle}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div> {{prouct.qte}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="footer text-right p2"  [ngClass]="prouct.qte==0? 'bg-danger':'bg-info'" >&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-warning" (click)="deleteCard(prouct)">Delete</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<app-rective-form></app-rective-form>-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
