<div class="container">
  hello word!!
<div class="row">
  <div class="col-6">
    <ng-container *ngFor="let product of products">
      <div class=" w-50 border">
        <div class="p-4  text-center">
          <h4>{{product.productTitle}}</h4>
          <span> {{product.productSubtitle}}</span>
        </div>
        <div class="footer text-right p2 "

             [ngClass]="product.qte>0?'bg-danger':'bg-info'"
        >
          more</div>
      </div>
      <!--    <div [ngStyle]="{'display':product.qte<=0?'none':'block'}" class=" w-50 border">-->
      <!--      <div class="p-4  text-center">-->
      <!--        <h4>{{product.productTitle}}</h4>-->
      <!--        <span> {{product.productSubtitle}}</span>-->
      <!--      </div>-->
      <!--      <div class="footer text-right p2 bg-danger"> more</div>-->
      <!--    </div>-->
      <!--    <div [ngStyle]="visibility(product)" class=" w-50 border">-->
      <!--      <div class="p-4  text-center">-->
      <!--        <h4>{{product.productTitle}}</h4>-->
      <!--        <span> {{product.productSubtitle}}</span>-->
      <!--      </div>-->
      <!--      <div class="footer text-right p2 bg-danger"> more</div>-->
      <!--    </div>-->
    </ng-container>
  </div>
  <div class="col-6">
    <app-addition></app-addition>
  </div>
</div>



</div>
